@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/systems/wastelanders/fonts/Overseer.ttf") format("truetype");
  font-family: "Overseer";
}
/* Global styles */
.portrait {
  flex: none;
  margin-right: 5px;
  border-width: 0;
}

.wastelanders-rolls {
  font-family: "Scada", sans-serif;
}
.wastelanders-rolls .inputs-block div {
  margin-bottom: 5px;
}
.wastelanders-rolls .inputs-block div label {
  font-weight: bold;
}

.roll-message .roll-header {
  margin-bottom: 10px;
}
.roll-message .roll-header .roll-name {
  margin: 0;
  padding: 3px 5px 0 5px;
}
.roll-message .roll-header .roll-subheader {
  padding: 3px 5px 0 5px;
  font-weight: bold;
}
.roll-message .roll-header .roll-subheader h4 {
  display: inline;
  font-weight: bold;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-centration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.grid-5col {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
}

.grid-6col {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
}

.grid-7col {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
}

.grid-8col {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 10px;
}

.grid-9col {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-column: span 9/span 9;
  gap: 10px;
}

.grid-10col {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 10px;
}

.grid-11col {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  gap: 10px;
}

.grid-12col {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

input.clear-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  --color-shadow-primary: none;
}

input.clear-input:focus {
  outline: none;
}

select.clear-select {
  border: none;
  border-radius: 0;
  background: none;
}

.window-app {
  font-family: "Scada", sans-serif;
}

.wastelanders {
  font-family: "Scada", sans-serif;
}

.window-content input[type=number] {
  max-width: 35px;
}
.window-content input[type=text] {
  width: auto;
}

.wastelanders.sheet.actor {
  min-width: 600px;
  min-height: 600px;
}

.wastelanders.sheet.item {
  min-width: 450px;
  min-height: 400px;
}

/* Styles limited to system sheets */
.wastelanders .attribute {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 2px;
  border: 1px solid #222;
  font-size: large;
  font-family: "Handjet", sans-serif;
}
.wastelanders .attribute .attribute-label {
  padding: 3px;
}
.wastelanders .attribute .clear-input {
  border-left: 1px solid #222;
  height: auto;
}
.wastelanders .skill {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2px;
  border: 1px solid #222;
  font-size: large;
  font-family: "Handjet", sans-serif;
}
.wastelanders .skill .skill-label {
  padding: 3px;
}
.wastelanders .skill .clear-select {
  border-left: 1px solid #222;
  height: auto;
}
.wastelanders .window-content {
  background: #eee;
}
.wastelanders .detail-window .detail-trigger {
  cursor: pointer;
}
.wastelanders .detail-window .detail-block:not(.active) {
  display: none;
}
.wastelanders .rollable:hover, .wastelanders .rollable:focus {
  cursor: pointer;
  color: black;
  color: var(--color-text-primary);
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.wastelanders .value-step-block {
  display: inline-block;
}
.wastelanders .value-step-block .value-step {
  display: inline-block;
  cursor: pointer;
}
.wastelanders .value-step-block .value-dot {
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  width: 14px;
  height: 14px;
}
.wastelanders .value-step-block .value-dot.active {
  background: black;
}
.wastelanders .value-step-block .value-box {
  border: 1px solid black;
  border-radius: 0;
  background: white;
  width: 12px;
  height: 12px;
}
.wastelanders .value-step-block .value-box.active {
  background: black;
}
.wastelanders h1,
.wastelanders h2,
.wastelanders h3 {
  font-family: "Overseer", sans-serif;
}
.wastelanders .sheet-tabs {
  font-size: medium;
  font-family: "Overseer", sans-serif;
}
.wastelanders .sheet-tabs .item.active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
.wastelanders .tox {
  min-height: 300px;
}
.wastelanders .tox .tox-editor-container {
  background: white;
}
.wastelanders .tox .tox-edit-area {
  padding: 0 5px;
}
.wastelanders .editor {
  border: 1px solid #b5b3a4;
  padding: 0 5px;
  min-height: 200px;
}

.wastelanders .items-block {
  position: relative;
}
.wastelanders .items-block .item-create {
  position: absolute;
  top: 2px;
  right: 5px;
}
.wastelanders .items-block .items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wastelanders .items-block .items-list .item {
  position: relative;
  margin-bottom: 5px;
}
.wastelanders .items-block .items-list .item .item-description {
  align-items: center;
  padding-right: 55px;
}
.wastelanders .items-block .items-list .item .item-description .item-image {
  flex: 0 0 20px;
  transition: 0.5s ease;
  margin-right: 2px;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.wastelanders .items-block .items-list .item .item-description:hover .item-image {
  background-image: url("/icons/svg/d20-grey.svg") !important;
}
.wastelanders .items-block .items-list .item .item-description .item-image:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}
.wastelanders .items-block .items-list .item .item-description .item-checkbox {
  margin: 0;
  width: 15px;
  height: 15px;
}
.wastelanders .items-block .items-list .item .item-description .item-name {
  flex: 0;
  cursor: pointer;
  margin-left: 5px;
  font-size: large;
  font-family: "Handjet", sans-serif;
}
.wastelanders .items-block .items-list .item .item-description .item-damage {
  margin-left: 3px;
}
.wastelanders .items-block .items-list .item .item-summary {
  flex: auto;
  transition: height 0.3s ease;
  margin: 0;
  margin-left: 2px;
  border-left: 1px solid #b5b3a4;
  padding-left: 3px;
  height: 0;
  overflow: hidden;
}
.wastelanders .items-block .items-list .item .item-controls {
  display: flex;
  position: absolute;
  top: 4px;
  right: 0;
  justify-content: flex-end;
}
.wastelanders .items-block .items-list .item .item-controls a {
  margin: 0 3px;
  font-size: 12px;
  text-align: center;
}
.wastelanders .items-block .check-list .item .item-name {
  color: gray;
}
.wastelanders .items-block .check-list .item.active .item-name {
  color: black;
  font-weight: bold;
}

.wastelanders.actor input.all-width {
  width: 100%;
}
.wastelanders.actor .sheet-header {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 10px;
}
.wastelanders.actor .sheet-header .img-block {
  position: relative;
}
.wastelanders.actor .sheet-header .img-block .hp-bar {
  position: relative;
  top: -10px;
  border: 1px solid #222;
  border-radius: 10px;
  background-color: #aaa;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.wastelanders.actor .sheet-header .img-block .hp-bar .hp-bar-fill {
  transition: width 1s ease-in-out;
  border-radius: 8px;
  background-color: #222;
  height: 100%;
}
.wastelanders.actor .sheet-header .img-block .hp-bar .hp-values {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: small;
}
.wastelanders.actor .sheet-header .img-block .hp-bar .hp-values .hp-input {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: small;
  font-family: inherit;
  text-align: center;
  text-shadow: inherit;
}
.wastelanders.actor .sheet-header .profile-img {
  height: auto;
}
.wastelanders.actor .sheet-header .character-name {
  margin: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: x-large;
  font-family: "Overseer", sans-serif;
}
.wastelanders.actor .sheet-header .brief-info {
  gap: 2px 5px;
}
.wastelanders.actor .sheet-header .brief-info .prop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wastelanders.actor .sheet-header .brief-info .prop .prop-label {
  margin-right: 3px;
}
.wastelanders.actor .sheet-header .brief-info .prop .clear-input {
  flex: 1;
  border-bottom: 1px solid #b5b3a4;
}

.wastelanders.actor .character .sheet-header .name-block .prop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
}
.wastelanders.actor .character .sheet-header .name-block .prop input {
  max-width: 160px;
}
.wastelanders.actor .character .sheet-header .name-block .prop .archetype {
  text-align: right;
}
.wastelanders.actor .character .general-container {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 2fr;
  gap: 10px;
}
.wastelanders.actor .character .general-container h2 {
  margin-top: 10px;
  margin-bottom: 0;
  border: none;
}
.wastelanders.actor .character .general-container .attribute {
  font-size: x-large;
}
.wastelanders.actor .character .general-container .fate-points {
  gap: 0;
}
.wastelanders.actor .character .general-container .prop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wastelanders.actor .character .general-container .prop .prop-label {
  margin-right: 3px;
}
.wastelanders.actor .character .general-container .prop .clear-input {
  flex: 1;
  border-bottom: 1px solid #b5b3a4;
}
.wastelanders.actor .character .notes .experience {
  font-size: large;
  font-family: "Overseer", sans-serif;
}

.wastelanders.actor .caravan .general-container h2 {
  text-align: center;
}
.wastelanders.actor .caravan .general-container .subheader {
  text-align: center;
}

.wastelanders.item input.all-width {
  width: 100%;
}
.wastelanders.item .items-header {
  display: flex;
  flex: 100px auto;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.wastelanders.item .items-header .item-img {
  flex: 0 0 100px;
  margin-right: 10px;
  border: none;
  height: 100px;
}
.wastelanders.item .items-header .header-fields {
  flex: 1;
}
.wastelanders.item .items-header .header-fields .item-name {
  margin: 5px 0;
  border-bottom: 0;
  padding: 0px;
  height: 35px;
  font-family: "Overseer", sans-serif;
}
.wastelanders.item .items-header .header-fields .item-name input {
  margin: 0;
  width: 100%;
  height: 100%;
}
.wastelanders.item .items-header .header-fields .brief-info .prop {
  margin-top: 3px;
}
.wastelanders.item .sheet-body .editor-block {
  flex: auto;
}

/*# sourceMappingURL=wastelanders.css.map */
