.portrait {
  flex: none;
  margin-right: 5px;
  border-width: 0;
}

.wastelanders-rolls {
  font-family: $font-primary;

  .inputs-block {
    div {
      margin-bottom: 5px;

      label {
        font-weight: bold;
      }
    }
  }
}

.roll-message {
  .roll-header {
    margin-bottom: 10px;

    .roll-name {
      margin: 0;
      padding: 3px 5px 0 5px;
    }

    .roll-subheader {
      padding: 3px 5px 0 5px;
      font-weight: bold;

      h4 {
        display: inline;
        font-weight: bold;
      }
    }
  }
}
