@use "../utils/variables" as *;

input.clear-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  --color-shadow-primary: none;
}

input.clear-input:focus {
  outline: none;
}

select.clear-select {
  border: none;
  border-radius: 0;
  background: none;
}

.window-app {
  font-family: $font-primary;
}

.wastelanders {
  font-family: $font-primary;
}

.window-content {
  input[type="number"] {
    max-width: 35px;
  }

  input[type="text"] {
    width: auto;
  }
}

.wastelanders.sheet.actor {
  min-width: 600px;
  min-height: 600px;
}

.wastelanders.sheet.actor.counter {
  min-width: 300px;
  min-height: 300px;
}

.wastelanders.sheet.item {
  min-width: 450px;
  min-height: 400px;
}
