@use "../utils/variables" as *;

.wastelanders.actor {
  .caravan {
    .general-container {
      h2 {
        text-align: center;
      }

      .subheader {
        text-align: center;
      }
    }
  }
}
