.character {
  .sheet-header {
    .name-block {
      .character-name {
        border-bottom: $border-hard;
      }

      .prop {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-decoration: none;

        input {
          max-width: 160px;
        }

        .archetype {
          text-align: right;
        }
      }
    }

    .brief-info {
      gap: 2px 5px;

      .prop {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .prop-label {
          margin-right: 3px;
        }

        .clear-input {
          flex: 1;
          border-bottom: $border;
        }
      }
    }
  }

  .general-container {
    display: grid;
    grid-template-columns: minmax(220px, 1fr) 2fr;
    gap: 10px;

    h2 {
      margin-top: 10px;
      margin-bottom: 0;
      border: none;
    }

    .attribute {
      font-size: x-large;
    }

    .fate-points {
      gap: 0;
    }

    .prop {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .prop-label {
        margin-right: 3px;
      }

      .clear-input {
        flex: 1;
        border-bottom: $border;
      }
    }
  }
}
