.wastelanders.actor {
  .counter {
    .sheet-header {
      display: block;
    }

    .sheet-body {
      .descriptions {
        th,td {
          padding: 0.25em;
        }

        .col-index {
          width: 50px;
          text-align: center;

          .fa-check {
            margin-right: 2px;
          }
        }
      }
    }
  }
}
