.attribute {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 2px;
  border: $border-black;
  font-size: large;
  font-family: $font-secondary;

  .attribute-label {
    padding: 3px;
  }

  .clear-input {
    border-left: $border-black;
    height: auto;
  }
}

.skill {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2px;
  border: $border-black;
  font-size: large;
  font-family: $font-secondary;

  .skill-label {
    padding: 3px;
  }

  .clear-select {
    border-left: $border-black;
    height: auto;
  }
}

.window-content {
  background: #eee;
}

.detail-window {
  .detail-trigger {
    cursor: pointer;
  }

  .detail-block:not(.active) {
    display: none;
  }
}

.rollable {
  &:hover,
  &:focus {
    cursor: pointer;
    color: black;
  }
}

h1,
h2,
h3 {
  font-family: $font-header;
}

.sheet-tabs {
  font-size: medium;
  font-family: $font-header;

  .item.active {
    background: $dark-paper;
    text-shadow: none;
  }
}

.tox {
  min-height: 300px;

  .tox-editor-container {
    background: white;
  }

  .tox-edit-area {
    padding: 0 $padding-sm;
  }
}

.editor {
  border: $border;
  padding: 0 $padding-sm;
  min-height: 200px;
}
