@use "../utils/variables" as *;

.wastelanders {
  .attribute {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 2px;
    border: $border-black;
    font-size: large;
    font-family: $font-secondary;

    .attribute-label {
      padding: 3px;
    }

    .clear-input {
      border-left: $border-black;
      height: auto;
    }
  }

  .skill {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2px;
    border: $border-black;
    font-size: large;
    font-family: $font-secondary;

    .skill-label {
      padding: 3px;
    }

    .clear-select {
      border-left: $border-black;
      height: auto;
    }
  }

  .window-content {
    background: $background;
  }

  .detail-window {
    .detail-trigger {
      cursor: pointer;
    }

    .detail-block:not(.active) {
      display: none;
    }
  }

  .rollable,
  .luck-roll {
    &:hover,
    &:focus {
      cursor: pointer;
      color: black;
      color: var(--color-text-primary);
      text-shadow: $shadow;
    }
  }

  .value-step-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3px;

    .value-step {
      display: inline-block;
      cursor: pointer;
    }

    .value-step:not(:first-child) {
      margin-left: 2px;
    }

    .value-dot {
      border: 1px solid black;
      border-radius: 50%;
      background: white;
      width: 14px;
      height: 14px;
    }

    .value-dot.active {
      background: black;
    }

    .value-box {
      border: 1px solid black;
      border-radius: 0;
      background: white;
      width: 12px;
      height: 12px;
    }

    .value-box.active {
      background: black;
    }
  }

  h1,
  h2,
  h3 {
    font-family: $font-header;
  }

  .sheet-tabs {
    font-size: medium;
    font-family: $font-header;

    .item.active {
      background: $dark-paper;
      text-shadow: none;
    }
  }

  .tox {
    min-height: 300px;

    .tox-editor-container {
      background: white;
    }

    .tox-edit-area {
      padding: 0 $padding-sm;
    }
  }

  .editor {
    border: $border;
    padding: 0 $padding-sm;
    min-height: 200px;
  }
}
