@use "../utils/variables" as *;

.wastelanders {
  .items-block {
    position: relative;

    .item-create {
      position: absolute;
      top: 2px;
      right: 5px;
    }

    .items-list {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
        position: relative;
        margin-bottom: 5px;

        .item-description {
          align-items: center;
          padding-right: 55px;

          .item-image {
            flex: 0 0 20px;
            transition: 0.5s ease;
            margin-right: 2px;
            background-position: center;
            background-size: 18px;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
          }

          &:hover .item-image {
            background-image: url("/icons/svg/d20-grey.svg") !important;
          }

          .item-image:hover {
            background-image: url("/icons/svg/d20-black.svg") !important;
          }

          .item-checkbox {
            margin: 0;
            width: 15px;
            height: 15px;
          }

          .item-name {
            flex: 0;
            cursor: pointer;
            margin-left: 5px;
            font-size: large;
            font-family: $font-secondary;
            margin-right: 3px;
          }

          .item-damage {
            margin-left: 3px;
          }
        }

        .item-summary {
          flex: auto;
          transition: height 0.3s ease;
          margin: 0;
          margin-left: 2px;
          border-left: $border;
          padding-left: 3px;
          height: 0;
          overflow: hidden;
        }

        .item-controls {
          display: flex;
          position: absolute;
          top: 4px;
          right: 0;
          justify-content: flex-end;
          a {
            margin: 0 3px;
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }

    .check-list {
      .item {
        .item-name {
          color: gray;
        }
      }

      .item.active {
        .item-name {
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}
