.items-block {
  position: relative;

  .item-create {
    position: absolute;
    top: 2px;
    right: 5px;
  }

  .items-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
      position: relative;
      margin-bottom: 5px;

      .item-description {
        padding-right: 55px;

        .item-checkbox {
          margin: 0;
          width: 15px;
          height: 15px;
        }

        .item-name {
          cursor: pointer;
          margin-left: 5px;
          color: gray;
          font-size: large;
          font-family: $font-secondary;
        }

        .item-tags {
          font-style: italic;
        }
      }

      .item-summary {
        flex: auto;
        transition: height 0.3s ease;
        margin: 0;
        height: 0;
        overflow: hidden;
      }

      .item-controls {
        display: flex;
        position: absolute;
        top: 4px;
        right: 0;
        justify-content: flex-end;
        a {
          margin: 0 3px;
          font-size: 12px;
          text-align: center;
        }
      }
    }

    .item.active {
      .item-name {
        color: black;
        font-weight: bold;
      }
    }
  }
}
