@use "../utils/variables" as *;

.wastelanders.item {
  input.all-width {
    width: 100%;
  }

  .items-header {
    display: flex;
    flex: 100px auto;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;

    .item-img {
      flex: 0 0 100px;
      margin-right: 10px;
      border: none;
      height: 100px;
    }

    .header-fields {
      flex: 1;

      .item-name {
        margin: 5px 0;
        border-bottom: 0;
        padding: 0px;
        height: 35px;
        font-family: $font-header;
        input {
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }

      .brief-info {
        .prop {
          margin-top: 3px;
        }
      }
    }
  }

  .sheet-body {
    .editor-block {
      flex: auto;
    }
  }
}
